/* ======================
   VARIÁVEIS DE TEMA
====================== */

:root {
    --bg-color: #efefef;
    --text-color: #613500;
    --header-bg: #f8e2ab;
    --footer-bg: #cc9d55;
    --button-bg: #fff4e4;
    --button-hover: #cc9d55;
    --link-color: #a76d15;
    --link-hover: #fff7eb;
    --card-color:#a76d15;
    --card-text-color: #fff7e6;

    --gradient-bg: linear-gradient(
        180deg,
        #ffffff,
        #fff6e4,
        #ffeecc,
        #f5dfb4
    );
}

/* DARK MODE */
.dark-mode {

    --bg-color: #efefef;
    --text-color: #fff6e0;
    --header-bg: #f8e2ab;
    --footer-bg: #cc9d55;
    --button-bg: #fff4e4;
    --button-hover: #cc9d55;
    --link-color: #a76d15;
    --link-hover: #fff7eb;
    --card-color:#f3d796;
    --card-text-color: #cd973f;

    --gradient-bg: linear-gradient(
        180deg,
        #5f3e00,
        #472c00,
        #311f00
    );
}

/* ======================
   RESET GLOBAL
====================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================
   FONTES
====================== */

@font-face {
    font-family: "MinhaFonte";
    src: url("../fonts/MinhaFonte.otf") format("opentype");
}

/* ======================
   BASE DO SITE
====================== */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color1);
    line-height: 1.6;
    padding-bottom: 60px;
    transition: background 0.3s, color 0.3s;

    background: var(--gradient-bg);
    color: var(--text-color);

    line-height: 1.6;
    margin: 0;

    transition:
        background 0.4s ease,
        color 0.4s ease;

}

main {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    margin-top: 80px;
}

/* ======================
   CONTAINER
====================== */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* ======================
   HEADER GLOBAL
====================== */

.header {
   margin-top: 20px;
}

.header-content {
    background-color: var(--header-bg);
    border-radius: 50px;
    padding: 12px 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 5px 15px rgba(74, 42, 0, 0.08);
}

.nav-list a {
    padding: 8px 18px;
    border-radius: 20px;

    background-color: var(--button-bg); 
    transition: 0.3s;
}

.nav-list a:hover {
    background-color: var(--button-hover);
    color: rgb(255, 255, 255);
}

/* LOGO */

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

.header-logo h1 {
    font-family: "MinhaFonte", serif;
    font-size: 24px;
}

/* NAV */

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-list a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
}

.nav-list a:hover {
    color: var(--link-hover);
}

.menu-toggle {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}

/* ======================
   FOOTER GLOBAL
====================== */

.footer {
    margin-top: 80px;
    background-color: var(--footer-bg);
    text-align: center;
    padding: 20px;
}

.footer-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.footer-logo {
    display: flex;
    align-items: left;
    gap: 10px;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    margin: 0 10px;
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}

.social-links a:hover {
    color: var(--link-hover);
}

.footer p {
    font-size: 14px;
    color: var(--link-hover);
}

/* ======================
   BOTÃO TEMA
====================== */

#theme-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* ======================
   RESPONSIVIDADE GLOBAL
====================== */

/* HEADER */

@media (max-width: 768px) {

    /* esconder menu normal */
    .nav-list {
        display: none;
        flex-direction: column;
        gap: 15px;

        position: absolute;
        top: 90px;
        right: 20px;

        background: var(--header-bg);
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

    /* mostrar ☰ */
    .menu-toggle {
        display: block;
    }

    /* quando aberto */
    .nav-list.active {
        display: flex;
    }

}

/* FOOTER */

@media (max-width: 900px) {

    .cta-section {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 600px) {

    .cta-section {
        grid-template-columns: 1fr;
    }

    .header-content {
        flex-direction: column;
        gap: 10px;
    }

}