<header class="header">
    <div class="container header-content">

        <div class="header-logo">
            <img id="logo-img" src="img/logo_marrom.png" alt="Logo">
            <h1 id="name" class="name">Kailane Lisley</h1>
        </div>

        <nav>
            <ul class="nav-list">
                <li><a href="index.html">Sobre Mim</a></li>
                <li><a href="habilidades.html">Habilidades</a></li>
                <li><a href="projetos.html">Projetos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>

        <!-- BOTÃO MENU MOBILE -->
        <button id="menu-toggle" class="menu-toggle">☰</button>
        <!-- BOTÃO TEMA -->
        <button id="theme-toggle">🌙</button>

    </div>
</header>